.job-description {
  font-family: "chaparral-pro", sans-serif;

  // h1 {
  //   font-family: "chaparral-pro", sans-serif;
  // }

  i {
    font-family: "chaparral-pro",sans-serif;
    font-style: italic;
    font-weight: 400;
  }

  b {
    font-family: "chaparral-pro",sans-serif;
    font-style: normal;
    font-weight: 700;
  }
}
