*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $main-background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // min-height: 100%;
}
