
body {
  font-family: 'proxima-nova', sans-serif;
  color: $base-font-color;
  text-rendering: optimizeLegibility;
}

p {
  font-size: $base-font-size;
  line-height: $base-font-size * $base-line-height;

  @media screen and (min-width: $large-screen) {
    font-size: $base-font-size;
  }
}
