// Colors
// $dark-grey: #363E45;
$dark-grey: #141c22;
$light-grey: #BECED9;
$accent-dark-grey: #76848F;
$light-blue: #549DD5;
$white: #F9FAFB;

// Site colors
$main-background: $white;
$brand-color: #3F51B5;

$base-font-color: $dark-grey;

// Sizes
$main-content-width: 780px;

// Breaks
$large-screen: 960px;

// Typography
$base-font-size: 18px;
$base-line-height: 1.55;
