// Colors
$dark-grey: #363E45;
$light-grey: #BECED9;
$accent-dark-grey: #76848F;
$light-blue: #549DD5;
$green: #839A72;
$medium-grey: #A6AEB9;
$white: #F9FAFB;
$main-background: rgba(147,128,108,.1);

// Sizes
$main-content-width: 678px;

// Breaks
$large-screen: 768px;
