.content {
  flex: 1;
  padding: 5px;

  @media (min-width: $large-screen) {
    padding: 5px;
  }

  .title {
    $title-color: #565656;
    color: $title-color;
    margin: 10px 0;

    @media (min-width: $large-screen) {
      margin: 22px 0;
    }
  }
}

@media (min-width: $large-screen) {
  .content {
    padding-top: 34px;
  }

}

.center {
  max-width: $main-content-width;
  margin: 0 auto;

  @media (min-width: $large-screen) {
    margin-top: -122px;
  }

  .content {
    padding: 12px 0 0 0;
    list-style: none;
    margin: 0;
    background: $white;
    border-radius: 3px;
    border: 1px solid #DDD;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}