.content {
  flex: 1;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;


  @media (min-width: $large-screen) {
    padding: 5px;
    width: $main-content-width;
    margin: 0 auto;
  }

  .title {
    $title-color: #565656;
    color: $title-color;
    margin: 10px 0;

    @media (min-width: $large-screen) {
      margin: 22px 0;
    }
  }
}
