#job-list {
  padding: 0 10px;

  .job-search {
    display: flex;
    flex-direction: row;

    .field {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
      flex: 1;

      input[type=search] {
        border-right: 0;
      }
    }

    input[type=submit] {
      max-height: 40px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

}
