.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  &.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  &.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }

  &.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}

.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;

  &:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
  }
}