.job {
  $border-size: 4px;

  padding: 8px 5px;
  display: flex;
  transition: all .1s ease-in-out;
  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    a {
      color: $brand-color;
    }
  }

  a {
    transition-property: color 0.3s;
  }

  @media screen and (min-width: $large-screen) {
    padding: 12px 0;
    margin: 10px 0;
  }

  &__info {
    flex: 0 1 70%;
  }

  &__meta {
    display: flex;
    align-items: center;
    flex: 0 1 30%;
    flex-direction: column;
    justify-content: center;
  }

  &__description {
    font-size: 24px;
    font-weight: bold;
    color: $dark-grey;
  }

  &__source {
    color: $accent-dark-grey;
    display: flex;
    flex: 0 1 50%;

    &__company {
      color: $dark-grey;
      // font-weight: bold;
      margin: 3px 0;
      text-decoration: none;
    }
  }

  &__posted-on
  {
    color: $dark-grey;
    align-self: flex-end;
    margin: 0;
    // font-weight: bold;
  }

  &__availability {
    color: $accent-dark-grey;
    // font-weight: bold;
    margin: 3px 10px;
  }
}
