.job-posting {
  $padding: 20px;

  margin-bottom: 8px;
  flex: 0 0 100%;
  margin-top: 24px;

  @media screen and (min-width: $large-screen) {
    flex: 1;
    position: relative;
  }

  &__header {
    padding: $padding 0;
    border-bottom: 1px solid #ccc;

    p {
      margin-bottom: 0;
    }


    .job-company,
    .job-title {
      margin: 0;
    }

    .job-posting-date {
      margin: 0;
      color: $accent-dark-grey;
      font-size: 18px;
      font-weight: bold;
    }

    .job-availability {
      margin-left: 18px;
      font-weight: bold;
      color: $accent-dark-grey;
    }
  }
  
  .form {
    margin-top: 20px;
  }

  &__description {
    padding: $padding 0;
  }

  .how-to-apply {
    border-top: 1px solid $light-grey;
    padding: $padding 0;
  }
}
